/* Typography */
h1, h2, h3, h4, h5 {
    all: unset;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
}

p, a {
    all: unset;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
}

  h1 {
    letter-spacing: -4px;
    font-size: 94px;
    font-weight: 400;
    color: #0F0E0E;
    line-height: 95%;
  }

  h1 span.emphasized {
    color: #FF5700;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #0F0E0E;
  }

  p {
    font-size: 1.125rem; /* text-lg */
    color: #4b5563; /* text-gray-600 */
  }

  a {
    font-size: 20px;
    letter-spacing: 0px;
    text-decoration: none;
  }

  a:hover {
    /* color: #FF5700; indigo-700 */
  }


/* Buttons */
  button {
    margin-top: 40px;
    padding: 24px 24px; /* py-3 px-6 */
    background-color: #0F0E0E;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.2s;
    cursor: pointer;
  }

  button:hover {
    background-color: #333333;
  }

  /* button.primary {
    color: white;
  } */

  button.primary:hover {
    background-color: #FF5700;
  }

  button.secondary {
    border: 2px solid #4f46e5;
    color: #4f46e5;
    background-color: transparent;
  }

  button.secondary:hover {
    background-color: #eef2ff; /* Tailwind’s indigo-50 */
  }
