/* Global */

body {
  background-color: #f5f5f5; /* bg-gray-50 */
}

/* TYPOGRAPHY */

/* Headings */
h1, h2, h3, h4, h5 {
    all: unset;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2px;
    color: #0F0E0E;
}

p, a {
    all: unset;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
}

  h1 {
    font-size: 80px;
    font-weight: 400;
    color: #0F0E0E;
    line-height: 95%;
  }

  h1, .oversized {
    font-size: 84px;
    line-height: 95%;
    letter-spacing: -4px;
  }

  h1 span.emphasized {
    color: #FF5700;
  }

  h2 {
    font-size: 72px;
    line-height: 95%;
    font-weight: 700;
    color: #0F0E0E;
  }

  h3 {
    font-size: 46px;
    line-height: 100%;
  }

  h4 {
    font-size: 32px;
    line-height: 100%;
  }

  h5 {
    font-size: 24px;
    line-height: 100%;
  }


/* Body text */

  p {
    font-size: 20px;
    line-height: 140%;
    color: #0F0E0E;
  }

  p.semibold {
    font-weight: 500;
  }

  p.small {
    font-size: 16px;
    line-height: 140%;
    color: #0F0E0E;
  }

  a {
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0px;
    text-decoration: none;
  }

  a:hover {
    /* color: #FF5700; indigo-700 */
  }

  p.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p.caption-black {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0F0E0E;
  }

.underlined {
  text-decoration: underline;
  cursor: pointer;
}


/* Fields */

#location-field {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.location-input {
  border: 2px solid #FF5700;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

.location-input::placeholder {
  font-family: "Tilt Warp", sans-serif;
  font-size: 32px;
  line-height: 100%;     /* optional: readable size */
}

.location-suggestion-item {
  font-family: "Tilt Warp", sans-serif;
  font-size: 32px;
  line-height: 100%;     /* optional: readable size */
}

.location-suggestion-item:hover {
  opacity: 80%;
}

/* Buttons */
  button {
    border: none;
    background: none;
    margin-top: 40px;
    stroke: none;
    padding: 20px 24px;
    font-size: 20px;
    background-color: #0F0E0E;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.2s;
    cursor: pointer;
  }

  button:hover {
    background-color: #333333;
  }
